<section class="grid-poster-canvas">

    <!-- COLORPIANO data.messageBackground -->
    <div class="grid-poster-piano">
        <div flex="yes col" class="colors-piano flex flex--direction--col">
            <div class="colors-piano-key isw10rem is__background--c-{{color}}" ng-repeat="color in data.colors" ng-click="data.backgroundColor = color" ng-mouseover="data.backgroundColor = color">
            </div>
        </div>
    </div>


    <!--POSTERCANVAS-->
    <div style="overflow-x: hidden; overflow-y: scroll;" class="poster--canvas is100vw is__background--c-{{data.backgroundColor}}">
        <div contenteditable="true" class="pcTextarea pcTextarea__size--small is__text--giga is__text--c-{{data.messageColor}} is90vh is__text--{{data.messageFont}} ">{{data.message}}</div></h1>
    </div>

    <!-- TEXTPIANO data.messageFont -->
    <div class="grid-poster-text-piano">
        <div class="text-piano flex is__background--c-{{data.backgroundColor}}">
            <div class="text-piano-key flex flex--xy" ng-repeat="font in data.fonts" ng-click="data.messageFont = font" ng-mouseover="data.messageFont = font">
                <span class="is__text--{{font}}">{{font}}</span>
            </div>
        </div>
    </div>

    <!-- COLORPIANO data.messageColor -->
    <div class="flex flex--direction--col">
        <div class="colors-piano-key isw10rem is__background--c-{{color}}" ng-repeat="color in data.colors" ng-click="data.messageColor = color" ng-mouseover="data.messageColor = color">

        </div>
    </div>

</section>
