<div class="is100vw is100vh--min is__background--c-blue is__text--Crimson flex flex--xy p60 flex--wrap">
    <h1 class="mt0">A new system of creation</h1>
    <i class="m20"></i>
    <h2 class="is__text--Crimson">a honest and good design process is highly iterative</h2>
</div>

<div class="p60 is__background--c-red">
    <h2 class="is__text--c-shade">our tools are becoming so intertwined</h2>
    <h2 class="is__text--c-shadelt">but they demand attention.</h2>
</div>

<div>
    <h2 class="ml60">we need tools that will focus for us. </h2>
    <h2 class="ml60">So we can move faster...</h2>
    <h2 class="ml60">through the rich world of colors and text we have at our command. </h2>
</div>
