<div ng-include="'views/pages/hello.html'"></div>
<div hm-swipe="changeOpacity($event)" class="hm-swipe : {mb10}">

  <background
    hm-tap"yell('Background box')":
    class="flex flex__item bg--border"
    image="advent.png"
    message:content="men of adventure chase endlessly, for the only dreams worth catching are the ones being chased.{{ngClickState}}"
    message:class="is__text--center is__text--c-shade-lt is__text--bold is__text--size--peta"
    ></background>

  <background
    image="brief.jpg"
    class="flex flex__item bg--border"
    message:class="is__text--bold is__text--size--peta is__text--c-black is__text--left is__text--Avenir"
    message:font="20vw"
    message:content="life is brief. you only have it now."
    ></background>

  <background
    image="giveawayto.gif"
    class="flex flex__item bg--border"
    message:class="is__text--bold is__text--size--peta is__text--c-black is__text--left is__text--Avenir"
    message:font="20vw"
    message:content="sadness will break away to happiness, like dry cracked sand giving away to the rising, white, seawater."
    ></background>

  <background
    image="advent.png"
    class="flex flex__item bg--border"
    message:class="is__text--bold is__text--size--peta is__text--c-black is__text--left"
    message:font="5vw"
    message:content="hello jimmy"
    ></background>

</div>